<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <style>
        .error404Page{
            text-align: center;
        }
        .error404Page img{
            width: 80%;
            margin: 30px auto;
        }
        .errorWords{
            text-align: center;
        }
        .errorWords_display{
            font-size: 18px;
            font-family: 楷体;
        }
    </style>
</head>
<body>
<div id="main">
    <div class="error404Page">
        <img src="/images/404.png">
    </div>
    <div class="errorWords">
        <div class="errorWords_display">
            <p>由于天气原因，这个页面已经去南极避暑了</p>
            <p><a href="/"><u>返回首页</u></a><a href="#" style="margin-left: 30px"></a></p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>