@media screen and (min-width: 768px) {
    .site-inner{
        margin: 0 2%;
        text-align: left;
    }
    .site-middle{
        margin: 30px 2%;
        text-align: left;
    }
    .yl-link-word{
        margin: 30px 2%;
        text-align: left;
    }
}
@media screen and (max-width: 768px) {
    .site-inner{
        margin: 0 0%;
        text-align: left;
    }
    .site-middle{
        margin: 20px 0%;
        text-align: left;
    }
    .yl-link-word{
        margin: 20px 0%;
        text-align: left;
    }
}

.yl-friendlylink-title i{
    color: dodgerblue;
    margin-left: 30px;
}
.yl-friendlylink-title span{
    color: #999999;
    font-size: 20px;
    margin: 5px;
}
.yl-friendlylink-author{
    margin: 20px 20px;
}
.site-inner .yl-friendlylink-author i{
    color: #808080;
}
.yl-friendlylink-author a{
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
}
.yl-friendlylink-author p{
    margin-top: 20px;
}
.site-middle .yl-friendlylink-author i{
    /*color: #21ffe4;*/
}
.yl-friendlylink-words{
    padding: 27px 27px 0px 27px;
    font-weight: 600;
}
.yl-friendlylink-words blockquote ul li{
    margin-left: -15px;
    font-size: 17px;
    font-family: Georgia,"Times New Roman",Times,Kai,"Kaiti SC",KaiTi,BiauKai,FontAwesome,serif;
    color: #4d4d4d;
}

.yl-friendlink-info p{
    margin: 22px 25px;
    text-indent: 2em;
    line-height: 23px;
    font-size: 15px;
}

.friendLinks{
    font-size: 1.6rem;
    text-align:center;
}

.friendLink{
    display: inline-block;
    width: 30%;
    padding: 7px 0;
}