<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skylight.blog.mapper.ArticleContentMapper">
    <resultMap id="ArticleContentMap" type="com.skylight.blog.model.ArticleContent">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="article_id" jdbcType="BIGINT" property="articleId" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
        <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
    </resultMap>

    <select id="getArticleContentByArticleInfoId" resultMap="ArticleContentMap">
        select * from article_content
        where article_id = #{id};
    </select>
</mapper>