<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skylight.blog.mapper.ArticleInfoMapper">
    <resultMap id="ArticleInfoMap" type="com.skylight.blog.model.ArticleInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="summary" jdbcType="VARCHAR" property="summary" />
        <result column="views" property="views" />
        <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
        <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="ArticleWrapMap" type="com.skylight.blog.model.ArticleWrap">
        <id column="id" jdbcType="BIGINT" property="articleInfoId" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="summary" jdbcType="VARCHAR" property="summary" />
        <result column="views" property="views" />
        <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
        <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
        <result property="isDeleted" column="is_deleted"/>
        <association property="category" javaType="com.skylight.blog.model.Category">
            <id property="id" column="cid" />
            <result property="name" column="name"/>
            <result property="number" column="number"/>
            <result column="c_create_by" jdbcType="TIMESTAMP" property="createBy" />
            <result column="c_modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
        </association>
        <association property="articleContent" javaType="com.skylight.blog.model.ArticleContent">
            <id property="id" column="acid" />
            <result property="content" column="ac_content"/>
            <result property="articleId" column="ac_article_id"/>
            <result column="ac_create_by" jdbcType="TIMESTAMP" property="createBy" />
            <result column="ac_modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
        </association>
        <collection property="articleLabelList" ofType="com.skylight.blog.model.ArticleLabel">
            <id property="id" column="al_id"/>
            <result property="articleId" column="al_article_id"/>
            <result property="labelId" column="label_id"/>
            <result column="al_create_by" jdbcType="TIMESTAMP" property="createBy" />
            <result column="al_modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
            <association property="label" javaType="com.skylight.blog.model.Label">
                <id property="id" column="lid" />
                <result property="name" column="l_name"/>
                <result column="l_create_by" jdbcType="TIMESTAMP" property="createBy" />
                <result column="l_modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
            </association>
        </collection>
    </resultMap>

    <select id="getArticleInfoDetails" resultMap="ArticleWrapMap">
        SELECT ai.*,
        c.id cid,c.name,c.number,c.create_by c_create_by,c.modified_by c_modified_by,
        al.id al_id,al.article_id al_article_id,al.label_id,al.create_by al_create_by,al.modified_by al_modified_by,
        l.id lid,l.name l_name,l.create_by l_create_by,l.modified_by l_modified_by
        FROM (select * from article_info WHERE 1 = 1
        <if test="categoryId != 0 ">
            and category_id = #{categoryId}
        </if> limit #{page} , #{number})
        ai LEFT JOIN
        (SELECT * FROM category  c ) c ON ai.category_id = c.id
        LEFT JOIN
        (SELECT * FROM article_label al ) al ON ai.id=al.article_id
        LEFT JOIN
        (SELECT * FROM label l ) l ON al.label_id=l.id
        ORDER BY create_by
    </select>

    <select id="getArticleWrapByArticleInfoId" resultMap="ArticleWrapMap">
        SELECT ai.*,
        c.id cid,c.name,c.number,c.create_by c_create_by,c.modified_by c_modified_by,
        ac.id acid,ac.content ac_content,ac.article_id ac_article_id,ac.create_by ac_create_by,ac.modified_by ac_modified_by,
        al.id al_id,al.article_id al_article_id,al.label_id,al.create_by al_create_by,al.modified_by al_modified_by,
        l.id lid,l.name l_name,l.create_by l_create_by,l.modified_by l_modified_by
        FROM article_info ai LEFT JOIN
        (SELECT * FROM category  c ) c ON ai.category_id = c.id
        LEFT JOIN
        (SELECT * FROM article_content ac ) ac ON ai.id=ac.article_id
        LEFT JOIN
        (SELECT * FROM article_label al ) al ON ai.id=al.article_id
        LEFT JOIN
        (SELECT * FROM label l ) l ON al.label_id=l.id
        WHERE 1 = 1
        and ai.id = #{id}
        ORDER BY id;
    </select>

    <select id="getArticleInfoDetailByArticleInfoId" resultMap="ArticleWrapMap">
        SELECT ai.*,
        c.id cid,c.name,c.number,c.create_by c_create_by,c.modified_by c_modified_by,
        al.id al_id,al.article_id al_article_id,al.label_id,al.create_by al_create_by,al.modified_by al_modified_by,
        l.id lid,l.name l_name,l.create_by l_create_by,l.modified_by l_modified_by
        FROM article_info ai LEFT JOIN
        (SELECT * FROM category  c ) c ON ai.category_id = c.id
        LEFT JOIN
        (SELECT * FROM article_label al ) al ON ai.id=al.article_id
        LEFT JOIN
        (SELECT * FROM label l ) l ON al.label_id=l.id
        WHERE ai.id = #{id}
    </select>



    <insert id="addArticleInfo" parameterType="com.skylight.blog.model.ArticleInfo" useGeneratedKeys="true" keyProperty="id">
    insert into article_info(category_id,title,summary,views,is_deleted) values (#{ai.categoryId},#{ai.title},#{ai.summary},#{ai.views},#{ai.isDeleted})
    </insert>

    <update id="deleteArticleInfo">
    update article_info set is_deleted = 1 where id = #{id}
    </update>

    <select id="getArticleInfoById" resultMap="ArticleInfoMap">
        select  * from article_info where id = #{id}
    </select>

    <update id="updateArticleInfo">
        update article_info set category_id = #{ai.categoryId},title = #{ai.title},summary = #{ai.summary}
        where id = #{ai.id} AND is_deleted =0
    </update>

    <select id="getArticleInfosByPageNumber" resultMap="ArticleWrapMap">
        SELECT ai.*,
        c.id cid,c.name,c.number,c.create_by c_create_by,c.modified_by c_modified_by
        FROM article_info ai LEFT JOIN
        (SELECT * FROM category  c ) c ON ai.category_id = c.id
        WHERE 1 = 1 and is_deleted = 0
        ORDER BY id
        limit #{page} , #{number};
    </select>



    <insert id="addArticleContent" parameterType="com.skylight.blog.model.ArticleContent" useGeneratedKeys="true" keyProperty="id">
    insert into article_content(content,article_id) values (#{ac.content},#{ac.articleId})
    </insert>

    <delete id="deleteArticleContent">
    delete from article_content
    where id = #{id}
    </delete>

    <update id="updateArticleContent">
        update article_content set content = #{ac.content}
        where id = #{ac.id}
    </update>
</mapper>