<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skylight.blog.mapper.LabelMapper">
    <resultMap id="LabelMap" type="com.skylight.blog.model.Label">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
        <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
    </resultMap>

    <resultMap id="ArticleLabelMap" type="com.skylight.blog.model.ArticleLabel">
        <id column="id" jdbcType="BIGINT" property="id" />
        <id column="article_id" jdbcType="BIGINT" property="articleId" />
        <id column="label_id" jdbcType="BIGINT" property="labelId" />
        <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
        <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
    </resultMap>

    <select id="getLabelList" resultMap="LabelMap">
        select * from label;
    </select>

    <select id="getArticleLabelListByLabelId" resultMap="ArticleLabelMap">
        select * from article_label
        WHERE label_id = #{id}
        ORDER BY create_by
        limit #{page} , #{number};
    </select>
</mapper>